.tg  {font-family:dotum; line-height:1.5; width:500px;border-collapse:collapse;border-spacing:0;table-layout:fixed;}

.tg th{sans-serif;font-size:12px;padding:2px 3px;border-style:solid;border-width:1px;overflow:hidden;border-color:black;}
.tg td{sans-serif;font-size:12px;padding:2px 3px;border-style:solid;border-width:1px;overflow:hidden;border-color:black;}

.tg .th-pc{width:40px;background-color:#67deef;text-align:center;}
.tg .th-nm{width:115px;background-color:#67deef;text-align:center;}
.tg .th-tx{width:450px;background-color:#67deef;text-align:center;}
.tg .th-mt{width:136px;background-color:#67deef;text-align:center;}
.tg .th-mk{width:115px;background-color:#67deef;text-align:center;}

.tg .td-pc{width:40px;text-align:center;}
.tg .td-nm{width:115px;background-color:#F0FBFF;font-weight:bold;}
.tg .td-tx{width:450px;}
.tg .td-mt{width:136px;}
.tg .td-mk{width:115px;}

.c-red{color:#E46767;font-weight:bold;}
.c-yer{color:#999200;font-weight:bold;}
.c099{color:#099;font-weight:bold;}
.c39f{color:#39F;font-weight:bold;}
.cf0f{color:#F0F;font-weight:bold;}
.c696{color:#696;font-weight:bold;}
.cf60{color:#F60;font-weight:bold;}

html, body {  margin: 2px; padding: 0;}